* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
    color: #007D78;
    font-size: 14px;
}

#arrow-ico {
    width: 15px;
    margin: 0 auto;
}

.btn-arrow {
    background-color: #007D78;
    display: flex;
    border: none;
    padding: 20px;
    border-radius: 50%;
    width: 62px;
    height: 62px;
}

.btn-arrow:active {
    transform: scale(0.9);
}

.btn-back {
    text-decoration: none;
    color: #007D78;
    font-size: 14px;
}

.btn-next {
    background-color: #007D78;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 17px 33px;
    border-radius: 50px;
    font-weight: 600;
}

#wave {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    
}

.header {
    background-color: #007D78;
    padding: 30px;
}

.main {
    margin-top: -30px;
    background-color: #fff;
}

.title {
    color: #FFC000;
    font-size: 20px;
}

.subtitle {
    font-size: 10px;
    color: #fff;
}

#desc {
    color: #007D78;
}

