* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
    color: #007D78;
    font-size: 14px;
}

.app-body {
    min-height: 100dvh;
    
}

#arrow-ico {
    width: 15px;
    margin: 0 auto;
    pointer-events: none;
}

.btn-arrow {
    width: 62px;
    height: 62px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #007D78;
    border: none;
    z-index: 10;
    touch-action: manipulation;
}

.btn-arrow:active {
    transform: scale(0.9);
}


#register-btn {
    position: relative;
    z-index: 999999;
}

.btn-back {
    text-decoration: none;
    color: #007D78;
    font-size: 14px;
}

.btn-back:hover {
    cursor: pointer;
}

.btn-next {
    background-color: #007D78;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 17px 33px;
    border-radius: 50px;
    font-weight: 600;
}

.btn-next:active {
    transform: scale(0.9);
}

#wave {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    
}

.header {
    background-color: #007D78;
    padding: 30px;
}

.main {
    margin-top: -30px;
    background-color: #fff;
}

.title {
    color: #FFC000;
    font-size: 20px;
}

.subtitle {
    font-size: 10px;
    color: #fff;
}

#desc {
    color: #007D78;
}

.alert {
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);

    animation: slideToast 3s ease forwards;
}

@keyframes slideToast {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }

    10% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }
}