* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
    height: calc(100vh - 66px);
}

thead {
    border-bottom: 3px solid #3f414628;
}

th {
    font-size: 12px;
    font-weight: 800;
    color: #3f4146 !important;
}

td {
    font-size: 12px;
    color: #464d5c !important;
}

.table-container {
    width: 90%;
}

.btn-trash {
    background: none;
    border: none;
}

.icon-trash:hover{
    stroke: rgba(223, 22, 22, 0.856);
}

.icon-trash {
    stroke: #464d5c;
}

.navbar-options {
    background: #007D78;
    border-bottom: 10px solid #FFC000;
}

.option {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: 600;
}

.img-vale {
  width: 42px;
}

.logo {
    object-fit: cover;
}

.btn-green {
    background-color: #007D78;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: none;
    padding: 8px 28px;
    border-radius: 50px;
    font-weight: 600;
    margin-bottom: 15px;
}

.btn-place {
    background-color: transparent;
    text-align: start;
    border: none;
    font-size: 12px;
    color: #464d5c;
    width: 150px;
}

.dropdown-menu{
    right: 10px;
    font-size: 12px;
    border: none;
}

#arrow-img {
    transition: transform 0.3s ease; 
}

.rotate {
    transform: rotate(180deg); 
}

.place-name {
    border-bottom: solid 1px #464d5c34;
}