#btn-new-product {
    border: none;
    background: transparent;
    color: #a0a3a8 ;
    font-size: 12px;
    padding: 3px 10px;
}

#btn-new-product:hover {
    background: rgb(251, 251, 251);
    border-radius: 10px;
}


#alert-div-error {
    bottom: 20px;
    font-size: 12px;
    background: rgba(239, 149, 149, 0.475);
}

#alert-div-sucess {
    bottom: 20px;
    font-size: 12px;
    background: #007d79de;
    color: white;
}
